body {
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  body {
    font-size: 30px;
    line-height: 1.5;
  }
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.focuser {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 150px;
  z-index: 200;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  position: relative;
  margin: 10px 0 0 20px;
  padding: 0;
  z-index: 100;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: : 1em;
}
h3 {
  font-family: monospace;
  font-weight: normal;
  font-size: 0.8em;
}
h4 {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 22px;
  padding: 5px 10px 5px 10px;
  font-weight: normal;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.7);
}
.pre {
  white-space: pre;
}
.green {
  color: #65a651;
}
.blue {
  color: #1d8fdf;
}
.red {
  color: #df1d38;
}
.faded {
  color: rgba(255, 255, 255, 0.5);
}
article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  font-style: italic;
  color: #555;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
}
#clip-space {
  width: 60%;
  max-width: 600px;
  height: auto;
  margin: -123px 0 0 -150px;
}
@media (min-width: 768px) {
  #clip-space {
    width: 50%;
    margin: -246px 0 0 -300px;
  }
}
#tex-space {
  width: 500px;
  height: auto;
  margin: -250px 0 0 -250px;
}
#normal {
  width: 100%;
  height: auto;
  margin: -120px 0 0 0;
  top: 50%;
  left: 0%;
}
@media (min-width: 768px) {
  #normal {
    left: 50%;
    width: 500px;
    height: auto;
    margin: -120px 0 0 -250px;
  }
}
.fb,
.dof {
  padding: 0;
  list-style-type: none;
  -webkit-perspective: 1500px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 80px;
  margin: 0;
}
.fb li,
.dof li {
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -300px;
  position: absolute;
}
.fb li img,
.dof li img {
  height: 505px;
  width: auto;
  border: 4px solid rgba(255, 255, 255, 0.5);
}
.fb li:nth-of-type(1) {
  -webkit-transform: translateX(-300px) rotateY(40deg);
}
.fb li:nth-of-type(2) {
  -webkit-transform: translateX(-100px) rotateY(40deg);
}
.fb li:nth-of-type(3) {
  -webkit-transform: translateX(100px) rotateY(40deg);
}
.fb li:nth-of-type(4) {
  -webkit-transform: translateX(300px) rotateY(40deg);
}
.dof li:nth-of-type(1) {
  -webkit-transform: translateX(-300px) rotateY(40deg);
}
.dof li:nth-of-type(2) {
  -webkit-transform: translateX(0px) rotateY(40deg);
}
.dof li:nth-of-type(3) {
  -webkit-transform: translateX(300px) rotateY(40deg);
}
