body {
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1;
}
@media (min-width: 768px) {
  body {
    font-size: 30px;
    line-height: 1.5;
  }
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 10px 0 0 20px;
  padding: 0;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: : 1em;
}
h3 {
  font-family: monospace;
  font-weight: normal;
  font-size: 0.8em;
}
h4 {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 22px;
  padding: 5px 10px 5px 10px;
  font-weight: normal;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.7);
}
.pre {
  white-space: pre;
}
.green {
  color: #65a651;
}
.blue {
  color: #1d8fdf;
}
.red {
  color: #df1d38;
}
.faded {
  color: rgba(255, 255, 255, 0.5);
}
article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
article:not(:first-child) {
  display: none;
}
footer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  font-style: italic;
  color: #555;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
}
#clip-space {
  width: 60%;
  height: auto;
  margin: -123px 0 0 -150px;
}
@media (min-width: 768px) {
  #clip-space {
    width: 50%;
    margin: -246px 0 0 -300px;
  }
}
#normal {
  width: 100%;
  height: auto;
  margin: -120px 0 0 0;
  top: 50%;
  left: 0%;
}
@media (min-width: 768px) {
  #normal {
    left: 50%;
    width: 500px;
    height: auto;
    margin: -120px 0 0 -250px;
  }
}
