body {
  margin: 0;
  background-color: #000000;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 800px) {
  body {
    font-size: 18px;
    line-height: 1.33;
  }
}
a {
  text-decoration: none;
}
a:hover {
  color: #cc99ff;
}
p a {
  color: #cc99ff;
  padding-bottom: 0;
}
p a:hover {
  border-bottom: 2px solid #cc99ff;
}
ul {
  list-style-type: none;
  padding: 0;
}
* {
  margin: 0;
  line-height: 1;
  border: 0;
  color: #e6ccff;
  box-sizing: border-box;
}
.splash {
  position: fixed;
  width: 100%;
  height: 60vh;
  background-color: #000;
}
.splash iframe {
  width: 100%;
  height: 100%;
}
.content {
  position: absolute;
  top: 60vh;
  left: 0;
  width: 100%;
  background-color: #280014;
}
.content article {
  position: relative;
  width: 100%;
  padding: 0 20px 0 20px;
}
@media (min-width: 800px) {
  .content article {
    left: 50%;
    margin-left: -400px;
    width: 800px;
    padding: 0;
  }
}
.content h1 {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: subpixel-antialiased;
  text-transform: uppercase;
  margin: 32px 0 16px 0;
}
.content p {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 16px 0 16px 0;
}
@media (min-width: 800px) {
  .content p {
    font-size: 18px;
    line-height: 1.33;
  }
}
.content li {
  font-size: 0.85em;
}
.content .links {
  overflow: auto;
}
.content .links li {
  text-align: center;
  float: left;
  width: 50%;
  margin: 32px 0px 32px 0px;
}
.content .links img {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-bottom: 8px;
}
.content .grid {
  overflow: auto;
}
.content .grid li {
  float: left;
  width: 50%;
  text-align: center;
  margin: 16px 0 6px 0;
}
@media (min-width: 800px) {
  .content .grid li {
    width: 33%;
  }
}
.content .grid img {
  position: relative;
  display: block;
  width: 90%;
  left: 5%;
  margin: 0 0 6px 0;
}
footer {
  background-color: #000000;
  color: #75003a;
  width: 100%;
  padding: 32px 0 32px 0;
  margin: 32px 0 0 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}
footer a {
  color: #75003a;
}
footer a:hover {
  color: #c10061;
}
