body {
    background: #000000;
    font-family: Georgia, sans-serif;
    color: #ffffff;
    overflow: hidden;
}

h1 {
    font-size: 1.3em;
    font-weight: normal;
}

p {
    font-size: 0.8em;
}

#container {
    position: absolute;
    top: 80px;
    left: 10px;
}

canvas {
    position: absolute;
    top: 80px;
    left: 10px;
    background: #ffffff;
}