#caption {
  position: absolute;
  height: 63px;
  width: 1024px;
  bottom: 0;
  left: 50%;
  margin-left: -512px;
  overflow: hidden;
}
#caption video {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -513px;
  width: 1024px;
}
#loader,
#info-button,
#replay {
  position: absolute;
  background-color: #222;
  color: #808080;
  text-align: center;
  line-height: 20px;
  border-radius: 50px;
  font-size: 12px;
}
#loader,
#replay {
  top: 50%;
  left: 50%;
  width: 160px;
  height: 16px;
  margin: -8px 0 0 -80px;
  padding: 16px;
}
#replay {
  display: none;
}
#replay:hover {
  background-color: #fff;
  cursor: pointer;
}
#info-button {
  top: 16px;
  right: 10px;
  width: 50px;
  height: 16px;
  margin: -8px 0 0 -80px;
  padding: 8px;
  cursor: pointer;
}
#info {
  padding: 20px 80px 20px 20px;
  line-height: 1.6;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  color: #808080;
  display: none;
}
#info p {
  max-width: 800px;
}
a {
  text-decoration: none;
  color: #aaa;
}
a:hover {
  text-decoration: underline;
}
#nogl {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.4);
  margin: -8px 0 0 -250px;
  padding: 16px 8px 16px 8px;
  border-radius: 50px;
  display: none;
}
