body {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: #000000;
	color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 10px;
	margin:  10px;
}

canvas {
	width: 100%;
	height: 100%;
}

.start, canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.start {
	z-index: 100;
	text-transform: uppercase;
	font-size: 12px;
	width: 120px;
	height: 40px;
	border: 1px solid white;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 40px;

	top: 50%;
	left: 50%;
	margin: -20px 0 0 -60px;
	font-weight: 800;

	cursor: pointer;
	transition: all 0.3s ease;
}

.portrait-warning {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	margin-top: -5px;
	line-height: 100vh;
	text-align: center;
	background-color: #000;
}

.start:hover {
	background-color: #aaaaaa;
	color: #000000;
}

.instr span {
	position: absolute;
	top: 50%;
	width: 200px;
	margin-left: -100px;
	text-align: center;
}

.instr span:nth-of-type(1) {
	left: 25%;
}

.instr span:nth-of-type(2) {
	left: 75%;
}

@media (orientation:portrait) {
	.start {
		display: none;
	}
}

@media (orientation:landscape) {
	.portrait-warning {
		display: none;
	}
}



