body {
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-family: monospace;
    margin: 15px;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
   /* width: 100%;
    height: 100%;*/
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.num {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
}